<%= form_with(model: homework) do |form| %>
  <% if homework.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
        <% homework.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :homework_name, style: "display: block" %>
    <%= form.text_area :homework_name %>
  </div>

  <div>
    <%= form.label :catagory, style: "display: block" %>
    <%= form.text_field :catagory %>
  </div>

  <div>
    <%= form.label :deadline, style: "display: block" %>
    <%= form.date_field :deadline %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
