<div id="<%= dom_id homework %>">
  <p>
    <strong>Homework name:</strong>
    <%= homework.homework_name %>
  </p>

  <p>
    <strong>Catagory:</strong>
    <%= homework.catagory %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= homework.deadline %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= homework.description %>
  </p>

</div>
